/*-----------------------------------------------
/* Responsive
/*---------------------------------------------*/
.main-container { max-width: 96%; padding: 0 2%; overflow: hidden; }
@media screen and (max-width:1230px) { 
    .shareit { position: relative!important; width: 100%!important; top: 0!important; padding-left: 0!important; padding-right: 0!important; margin: 0!important; padding-top: 10px!important; border: none !important; }
}
@media screen and (max-width:1000px) { 
    #move-to-top { margin-right: 0; right: 5px; }
    .article { width: 66% }
}
@media screen and (max-width:960px) { 
    .secondary-navigation { left: 0 }
    img { max-width: 100%; height: auto!important; }
    .ad-300 img { max-width: 100% }
    .ad-125 li { max-width: 40% }
    .ad-125 img { padding: 0; background: #FAFAFA; border: 0; }
}
@media screen and (max-width:900px) { 
    .widget-header { max-width: 70% }
    .slidertext { display: none }
}
@media screen and (max-width:865px) { 
    .main-container { max-width: 100%; padding: 0; }
    #page, .container { max-width: 96% }
    footer .container { padding: 0 2% }
    .mts-cart { text-align: center!important }
    #navigation ul ul:after { border: 0; padding: 0; }
    #navigation ul ul { border: 0; padding: 0; }
    .main-navigation { border: 0 }
    .main-navigation #navigation { width: 100% }
    .header-search { display: none }
    .main-navigation #navigation ul li ul li a, .main-navigation #navigation ul li ul, .main-navigation #navigation ul ul li:first-child a { border: 0 }
    .main-navigation a:hover, .main-navigation #navigation ul li ul li a, .main-navigation #navigation ul li ul li a:hover { background: #283744 !important; color: #fff !important; }
    .main-navigation #navigation ul li ul li a { background: transparent }
    .secondary-navigation, #navigation { border: none !important; background: #283744; }
    .secondary-navigation { width: 100%; position: relative!important; }
    #navigation .menu a, #navigation .menu .fa > a, #navigation .menu .fa > a { color: #fff!important; padding-left: 0!important; padding-right: 0!important; background: rgba(0, 0, 0, 0)!important; }
    #navigation .menu { float: none; background: transparent; }
    .main-navigation #navigation ul ul ul { top: 0 }
    #navigation ul ul { display: block!important; visibility: visible!important; opacity: 1!important; position: relative; left: 0!important; border: 0; width: 100%; }
    #navigation ul li li { background: transparent; border: 0; }
    #navigation { height: auto }
    #navigation ul { width: 100%; display: none; height: auto; }
    #navigation li, #navigation ul li li { width: 100%!important; float: left; position: relative; border-right: 0!important; }
    .wpmm-megamenu-showing.wpmm-light-scheme { background: transparent!important }
    #wpmm-megamenu { display: none }
    #navigation ul li:after { background: transparent }
    #navigation ul li:before { display: none }
    #navigation li a { border-bottom: 1px solid #576979!important; width: 100%!important; padding: 10px 45px 10px 25px; }
    #navigation a { text-align: left; width: 100%; text-indent: 25px; }
    #navigation a .fa { text-indent: 0 }
    #navigation a#pull-main, #navigation a#pull-primary { display: block; background-color: #283744; width: 100%; position: relative; color: #fff; padding: 10px 0; text-transform: uppercase; line-height: 20px; }
    #navigation a#pull-main:after, #navigation a#pull-primary:after { content: ""; background: url('images/nav-icon.png') no-repeat; width: 30px; height: 30px; display: inline-block; position: absolute; right: 15px; top: 10px; }
    .secondary-navigation #navigation ul .sfHover a, .secondary-navigation #navigation ul li:hover, .secondary-navigation #navigation ul .sfHover ul li { background: transparent }
    #review, .proscons { width: 99% !important }
}
@media screen and (max-width:728px) { 
    #header h1, #header h2, .site-description { float: none; text-align: center; width: 100%; max-width: 100%; padding: 0; }
    #header h1, #header h2 { font-size: 40px }
    .site-description { margin-top: 0 }
    #logo a, #logo img { float: none; letter-spacing: 0; }
    .logo-wrap { margin-bottom: 0; margin-top: 0; width: 100%; }
    .widget-header { max-width: 100%; float: left; margin-top: 0; }
}
@media screen and (max-width:720px) { 
    .secondary-navigation a { padding-top: 10px!important; padding-bottom: 10px!important; }
    .article { width: 100% }
    #content_box { padding-right: 0px; padding-left: 0px!important; width: 100%; }
    .sidebar.c-4-12 { float: none; width: 100% !important; padding-left: 0; padding-right: 0; margin: 0 auto; padding-top: 20px; overflow: hidden; }
    .f-widget { width: 44% }
    .f-widget-2 { margin-right: 0 }
    .ad-125 li { max-width: 45% }
    #comments { margin-right: 0 }
    .widget-header .textwidget { margin-top: 0; padding-left: 0; border-left: none; }
    #commentform textarea { width: 92% }
}
@media screen and (max-width:600px) { 
    .featured-thumbnail img { width: 100% }
    .rating .review-result-wrapper i { font-size: 20px }
}
@media screen and (max-width:550px) { 
    .sbutton { float: right }
    .f-widget { width: 100%; margin-right: 0; }
}
@media screen and (max-width:480px) { 
    .slidertitle { font-size: 14px }
    nav { border-bottom: 0 }
    #navigation { margin-top: 0; margin-bottom: 0; }
    .secondary-navigation { width: 102%; height: 35px; }
    .latestPost .title { font-size: 20px }
    .grid { margin: 0 3% !important; width: 44%; }
    .related-posts li { width: 100%; float: left!important; max-width: 100%; }
    .related-posts .relatepostli4 { padding-bottom: 15px; border-bottom: 1px solid #CCC; margin-bottom: 11px; }
    .one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth { width: 100%; margin-right: 0; }
    .copyrights { text-align: center }
    .top { width: 100% }
    .review-type-percentage.rating, .review-type-percentage.rating i, .review-type-point.rating { font-size: 19px }
}
@media screen and (max-width:400px) { 
    article header { overflow: hidden }
    .slidertext { display: none }
    .grid { margin: 0 3% !important; min-height: 215px; }
    .grid:nth-child(2n+3) { clear: left!important }
    .grid #featured-thumbnail { width: 100% }
    #featured-thumbnail, .featured-thumbnail { width: 100%; max-width: 100%; }
    .rating { max-width: 100% }
}
@media screen and (max-width:320px) { 
    .latest-cat-post #featured-thumbnail { width: 100%; max-width: 100%; }
    .latest-cat-post #featured-thumbnail .featured-thumbnail { float: none }
    nav li { display: block; float: none; width: 100%; }
    nav li a { border-bottom: 1px solid #576979 }
    .grid { width: 100%; margin-left: 0!important; margin-right: 0!important; }
    .latestPost.grid .title { height: auto }
}